/* #root {
  width: 100%;
  height: 100%;
} */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin{
  background-color: none;
}

.grid {
  width: 480px;
  height: 480px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.cell {
  width: 30px;
  height: 30px;
  outline: 1.7px solid#374851;
  display: inline-block;
}

.acorn{
  background-image: url('img/food.png');
}

.head{
  background-image: url('img/zoo.png');
}

.body{
  width: 28px;
  height: 28px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #9F7267;
}

.button-play-again{
  border-radius: 4px;
  padding: 12px 20px;
  font-size: 18px;
  background-color: #ff5f23;
  font-family: Muli,sans-serif;
  border: 1px solid transparent;
  color: #fff;
  margin-top: 15%
}



